# CityBike Wien Datensetanalye für die Jahre 2016 und 2017

== Inhalt und Struktur dieses Notebooks

## Datenset importieren bereinigen und transformieren

Die Daten werden zuerst eingelesen und nötige Transformationen werden vorgenommen. 

In erste Linie werden alle Fahrten die unter zwei Minuten dauern und an der gleichen Station enden aus dem Datenset herausgenommen da man davon ausgehen kann, dass der Nutzer das System nicht benutzt hat.

In [2]:
%matplotlib inline
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import math
#Warnungen seitens Jupyter sollen ignoriert werden
warnings.filterwarnings('ignore')

df2016 = pd.read_csv('CityBikeWien/2016trips.csv', error_bad_lines=False, parse_dates=['Startdatum', 'Enddatum'], delimiter=';')
df2017 = pd.read_csv('CityBikeWien/2017trips.csv', error_bad_lines=False, parse_dates=['Startdatum', 'Enddatum'], delimiter=';')

Die beiden DataFrames für die Jahre 2016 und 2017 werden zusammengeführt

In [3]:
df_total = df2016.append(df2017)

Bei dem neuen DataFrame wird der Index neu gesetzt

In [4]:
df_total = df_total.reset_index(drop=True)

Eine neue Spalte für die Fahrtdauer wird hinzugefügt (Enddatum-Startdatum)

In [5]:
df_total['Fahrtdauer'] =  df_total['Enddatum'] - df_total['Startdatum']

Uns interessieren nur Fahrten die länger als zwei Minuten dauern und gleichzeitig nicht an der gleichen Station beendet wurden. Die Bereinigung wird für alle dreit Datasets vorgenommen.

In [19]:
df_total_cleansed = df_total[ (df_total['Fahrtdauer'] > pd.Timedelta('120 sec')) 
                            & (df_total['Anfangsstation_ID'] != df_total['Endstation_ID'])]

df2016            = df2016[ (df2016['Fahrtdauer'] > pd.Timedelta('120 sec'))
                            & (df2016['Anfangsstation_ID'] != df2016['Endstation_ID'])]

df2017            = df2017[ (df2017['Fahrtdauer'] > pd.Timedelta('120 sec'))
                            & (df2017['Anfangsstation_ID'] != df2017['Endstation_ID'])]

Das bereinigte DataFrame enthält insgesamt 1.897.764 Einträge für die Jahre 2016 und 2017 mit folgenden Datentypen

In [20]:
df_total_cleansed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1897764 entries, 1 to 2080071
Data columns (total 7 columns):
Startdatum           datetime64[ns]
Enddatum             datetime64[ns]
Anfangsstation_ID    int64
Endstation_ID        int64
Fahrrad_ID           int64
Subscriber_ID        object
Fahrtdauer           timedelta64[ns]
dtypes: datetime64[ns](2), int64(3), object(1), timedelta64[ns](1)
memory usage: 115.8+ MB

Erste Zeile des DataFrames als Referenz

In [21]:
df_total_cleansed.head(1)

,Startdatum,Enddatum,Anfangsstation_ID,Endstation_ID,Fahrrad_ID,Subscriber_ID,Fahrtdauer
1,2016-01-01 00:13:04,2016-01-01 00:38:05,1026,1100,2539,0x04084286D0CC7FA3973C16F8306802A1,00:25:01

## Finde die ersten 10 Benutzer nach Benutzung für den gesamten Zeitraum (2016+2017)


In der folgenden Zelle wird das DataFrame anhand der 'Subscriber_ID' gruppiert. 

Darauffolgend wird eine Aggregatfunktion (np.size) auf das gruppierte Objekt angewendet um die Anzahl der Fahrten je Subscriber zu erhalten. Somit erhält man ein Series-Objekt welches sortiert werden muss. 

Um die Handhabung zu erleichtern wird das Series-Objekt zu einem DataFrame mit einer einzigen Spalte transformiert.

In [22]:
grouped_by_subscriber_groups              = df_total.groupby('Subscriber_ID')
aggregated_by_subscriber_series           = grouped_by_subscriber_groups['Fahrrad_ID'].agg(np.size)
aggregated_sorted_by_subscriber_series    = aggregated_by_subscriber_series.sort_values(ascending=False)
aggregated_by_subscriber_dataframe        = aggregated_sorted_by_subscriber_series.to_frame('ANZAHL_FAHRTEN')

Die ersten zehn Subscriber werden extrahiert und zudem wird eine Spalte mit dem Rang hinzugefügt. Danach wird das DataFrame ausgegeben.

In [23]:
aggregated_by_subscriber_dataframe_top_10 = aggregated_by_subscriber_dataframe[:10]
aggregated_by_subscriber_dataframe_top_10['RANG'] = np.arange(1,11) 
aggregated_by_subscriber_dataframe_top_10

                                    ANZAHL_FAHRTEN  RANG
Subscriber_ID
0x30EF7C4D0C1211B47ADBA3295EF47C61            1790     1
0xB9AF912E74C4F6602CF849721E28B621            1400     2
0xAC44D643FD2F8AE0CCD64B35A269DCC1            1297     3
0x30F9A85D6ADB8CFA380C4EA7D77C574E            1281     4
0xCA316F5E99321FD79D33C3CAB1000DA5            1193     5
0xE88FAEE35C9817B6BD91961D8DD186E0            1028     6
0x62B4268B5D5AB0FD8B0FDC93D79498DD            1025     7
0x24384492DBD8ACA63F4C29FC8BC3B36A            1011     8
0xD372854C5186AB811AEE55325547CC85            1009     9
0x0156CCFCAAF6097587BCB2B1C711F1FE             980    10

## Was hat der Benutzer mit den meisten Fahrten für die Nutzung des Systems bezahlt?

Der 'Citybike Wien'-Nutzer welcher das System innerhalb der beiden Jahren am meisten genutzt hat, fuhr insgesamt 1790 Fahrten. Es wäre interessant zu sehen was ihn die Nutzung des Systems über die Zeitdauer der beiden Jahre gekostet hat. 

Hierfür ist es nötig den Kostenplan von Citybike Wien zu kennen. Dieser ist progressiv eingestellt, das heißt, dass die erste Stunde kostenlos ist. Die zweite Stunde kostet einen Euro, die dritte das doppelte und die vierte Stunde dann vier Euro. Jede weitere Stunde kostet jeweils vier Euro.

Wir suchen alle Fahrten für den Power-User heraus

In [24]:
df_user_1 = df_total[df_total['Subscriber_ID'] == '0x30EF7C4D0C1211B47ADBA3295EF47C61']

Wie oft hat der Nutzer das Limit der einen Stunde überschritten? Insgesamt 98 mal.

In [25]:
df_user_1[df_user_1['Fahrtdauer'] > pd.Timedelta('60 min')].size

98

Gab es Fälle bei denen die Fahrt länger als zwei Stunden dauerte? Nein

In [26]:
df_user_1[df_user_1['Fahrtdauer'] > pd.Timedelta('120 min')].size

0

Insgesamt fielen 98 kostenpflichtige Fahrten an welche weniger als zwei Stunden gedauert haben. Somit hat der Anwender insgesamt 98 Euro für die Nutzung des Systems für die Zeitdauer der beiden Jahren bezahlt da jede Fahrt genau einen Euro gekostet hat.

Im Schnitt hat der oder die NutzerIn ~ 5,5 Cent für jede Fahrt bezahl.

## Welchen Umsatz hat das System für das Jahr 2016 bzw. 2017 generiert?

Es wäre interessant zu sehen wie viel Umsatz alleine durch die Nutzung des Systems entstanden ist. 

Der Betreiber von CityBike Wien, die Gewista GmbH wählt ein hybrides Finanzierungsmodell. Das heißt, dass sich das System nicht nur aus den Beiträgen der einzelnen Nutzer finanziert, sondern auch aus Werbungen welche auf den Fahrrädern angezeigt werden. Inwieweit oder ob das System durch die Stadt Wien subventioniert wird ist nicht bekannt. 

Wir untersuchen nun die Einnahmen welche durch die Nutzergemeinde des Systems entsteht. Dies ist durch die Kenntniss des Kostenmodells und der Länge der einzelnen Fahrten möglich. Die Anmeldegebühr von einem Euro wird nicht mit in die Berechnung einbezogen da aus dem Datenset nicht bekannt ist wann sich der Nutzer das erste Mal registriert hat. Somit könnte es sein, dass die Anmeldegebühr nicht in den Jahren 2016 oder 2017 verrechnet wurde.

In [27]:
df2016['Fahrtdauer'] = df2016['Enddatum'] - df2016['Startdatum']
df2017['Fahrtdauer'] = df2017['Enddatum'] - df2017['Startdatum']

In [79]:
def calculate_fare(fahrtdauer):
    ssddsg=  math.ceil(fahrtdauer.total_seconds() // 3600)
    if(fahrtdauer < pd.Timedelta('60 min')):        return int(0)
    elif( (fahrtdauer > pd.Timedelta('60 min')) & (fahrtdauer < pd.Timedelta('120 min'))):
        return int(1)
    elif( (fahrtdauer > pd.Timedelta('120 min')) & (fahrtdauer < pd.Timedelta('180 min'))):
        return int(3)
    elif( (fahrtdauer > pd.Timedelta('180 min')) & (fahrtdauer < pd.Timedelta('240 min'))):
        return int(7)
    elif((fahrtdauer > pd.Timedelta('240 min'))):
        return (int(7) +  ((math.ceil(fahrtdauer.total_seconds() // 3600))-3)*4)
    #a case where the bike is not returned within six days

In [80]:
df2016_test = df2016

In [81]:
df2016_test['Fahrtpreis'] = df2016_test['Fahrtdauer'].apply(calculate_fare)

In [82]:
df2016_test[ df2016_test['Fahrtdauer'] > pd.Timedelta('21000 sec') ]

,Startdatum,Enddatum,Anfangsstation_ID,Endstation_ID,Fahrrad_ID,Subscriber_ID,Fahrtdauer,Fahrtpreis
71,2016-01-01 05:03:33,2016-01-01 12:05:51.000,1046,1085,3302,0xE67FE030A7B68D78E684228397BE7688,0 days 07:02:18,23.0
77,2016-01-01 05:58:09,2016-01-01 13:50:14.000,1024,1105,2869,0x68574B0A9190005828ABE9C9425E3020,0 days 07:52:05,23.0
5621,2016-01-11 22:08:35,2016-01-12 04:14:24.000,1063,1055,3598,0x5DF8DB344020E4519A96DB2A8B74A8D5,0 days 06:05:49,19.0
10794,2016-01-15 22:12:55,2016-01-16 10:58:06.000,1076,1051,2909,0xBE269AA7E7B39B363452D52523C11E39,0 days 12:45:11,43.0
11548,2016-01-16 18:59:58,2016-01-17 00:59:53.000,1086,1137,2587,0x97A8F7728EC0117F42A33A5E74F51864,0 days 05:59:55,15.0
11798,2016-01-17 02:07:38,2016-01-17 12:59:27.000,1116,1045,3685,0xF589445422E364819CABCC22CD3164D4,0 days 10:51:49,35.0
11919,2016-01-17 10:12:40,2016-01-17 16:48:10.000,1125,1109,2900,0x4A34CCAD279BDF5E069544A3CD4D8005,0 days 06:35:30,19.0
13618,2016-01-19 09:46:34,2016-01-19 23:47:32.000,1044,1067,3252,0xDC9B5193E7C0266591D1397129E4ABAC,0 days 14:00:58,51.0
19428,2016-01-26 15:04:02,2016-01-27 12:39:51.000,1146,1038,3529,0x6501230B41DE368B04E05ED6F31DE201,0 days 21:35:49,79.0
22488,2016-01-28 12:19:22,2016-01-28 18:39:49.000,1134,1034,3621,0x7D4E4B170731B667DDD5165852C9769B,0 days 06:20:27,19.0
22498,2016-01-28 12:24:09,2016-01-28 18:39:40.000,1134,1034,2932,0xD9464D8C5BDD9667EF1FF62C7210FAFB,0 days 06:15:31,19.0
22502,2016-01-28 12:29:07,2016-01-28 18:39:49.000,1134,1034,3373,0xB3E3AAC613D64EB0A6B3F1A6EBA07F23,0 days 06:10:42,19.0
29061,2016-02-02 14:16:36,2016-02-03 08:39:29.000,1128,1022,1226,0x8A619A6585590FF1507E90382CCC201B,0 days 18:22:53,67.0
30373,2016-02-03 08:54:26,2016-02-03 21:27:36.000,1105,1128,3392,0x4715AB3FA13D69DD0CD1534358614932,0 days 12:33:10,43.0
35199,2016-02-07 10:35:08,2016-02-07 20:39:01.000,1068,1055,3152,0x990F8427CD20F802B19355EAC52F4187,0 days 10:03:53,35.0
35682,2016-02-07 14:12:54,2016-02-08 07:11:20.000,1106,1061,3674,0xE96C08A193804999FF238635686A116E,0 days 16:58:26,59.0
38263,2016-02-08 21:03:05,2016-02-09 06:56:03.000,1068,1046,2849,0x81A581574D31A1E85F2541BEE122D5DC,0 days 09:52:58,31.0
41173,2016-02-11 09:03:14,2016-02-11 18:15:46.000,1046,1066,2800,0x0B13A6E1F8765AC78F012EA7C40696EB,0 days 09:12:32,31.0
42212,2016-02-12 00:19:42,2016-02-12 06:58:50.000,1024,1141,1294,0xB1A3E004EFD913D11565BEC03BC53976,0 days 06:39:08,19.0
42454,2016-02-12 09:37:21,2016-02-12 16:41:44.000,1045,1027,2620,0x0459CB26129850FDA0DFD8958B31F7B3,0 days 07:04:23,23.0
44035,2016-02-13 13:49:02,2016-02-14 13:08:28.000,1024,1128,2323,0x60D7557F84D14EB65E6590847F8D8D17,0 days 23:19:26,87.0
44060,2016-02-13 13:55:06,2016-02-15 09:28:22.000,1049,1083,2279,0xEDF0F0B226E9FEE14CF9348D6A3493BC,1 days 19:33:16,167.0
44207,2016-02-13 14:42:17,2016-02-14 14:09:27.000,1129,1086,2342,0x5DE9226CEBA5EE14934B6D6CE3ACB4A5,0 days 23:27:10,87.0
44657,2016-02-13 17:46:45,2016-02-14 11:20:32.000,1031,1023,2814,0x25E7BBA9ABDABAF4FA775616BCA21800,0 days 17:33:47,63.0
44660,2016-02-13 17:48:18,2016-02-14 11:20:36.000,1031,1023,2892,0x07A7E7486059A33787EF14D51F3C1543,0 days 17:32:18,63.0
45215,2016-02-14 10:02:23,2016-02-14 16:48:31.000,1078,1142,3395,0xB8AF78A22144BBAEF44490B4707D4374,0 days 06:46:08,19.0
45423,2016-02-14 12:55:26,2016-02-15 07:21:34.000,1056,1060,3246,0xFC444EE86118BBD1C07D68A6F9F4AAA1,0 days 18:26:08,67.0
46229,2016-02-15 10:50:03,2016-02-16 12:50:41.000,1029,1134,2472,0x66BDAB2C63B2E760EF51B1543BCADAF5,1 days 02:00:38,99.0
51460,2016-02-20 01:29:18,2016-02-20 12:14:26.000,1116,1058,3394,0x81B772919270334FE7F7FB8B98BB8998,0 days 10:45:08,35.0
51897,2016-02-20 13:07:49,2016-02-20 20:41:33.000,1069,1055,2874,0x8228BB2A7F61FAD25632D2D185AC2769,0 days 07:33:44,23.0
...,...,...,...,...,...,...,...,...
1027271,2016-11-23 23:03:00,2016-11-24 07:24:16.000,1129,1073,2565,0x898151547D0567C0F35B91A8C71F528F,0 days 08:21:16,27.0
1028884,2016-11-25 01:13:59,2016-11-25 12:08:36.000,1032,1075,2384,0x770F9508104FF7F55D02D16FFEC21884,0 days 10:54:37,35.0
1030222,2016-11-26 01:24:26,2016-11-27 14:14:14.000,1092,1130,3510,0x7BB959CB5131A52B19A37FED42682712,1 days 12:49:48,139.0
1030602,2016-11-26 10:50:09,2016-11-26 17:04:18.000,1033,1128,3202,0xFA5706DEB7269F4C02002A98718A6DB6,0 days 06:14:09,19.0
1040525,2016-12-03 21:16:30,2016-12-05 10:08:17.000,1021,1042,3280,0xA5A49A6A6C8EBFAB1487528B63331252,1 days 12:51:47,139.0
1041417,2016-12-04 19:41:34,2016-12-05 07:27:29.000,1076,1057,2754,0x690387A7FA0DD7F1EB3CEB5F7B470951,0 days 11:45:55,39.0
1042800,2016-12-06 08:18:22,2016-12-06 15:05:20.000,1114,1089,2670,0x9E5627145560B90679B46F1C847F874D,0 days 06:46:58,19.0
1046366,2016-12-09 10:46:15,2016-12-09 17:11:10.000,1029,1128,2374,0xF0A7F168B5C75E1A5B51E2E11E0AA9C5,0 days 06:24:55,19.0
1047451,2016-12-10 00:50:07,2016-12-10 09:17:51.000,1095,1073,2541,0xAA428AF2AA1320126041BCD8D6F40CC6,0 days 08:27:44,27.0
1047529,2016-12-10 01:44:35,2016-12-10 09:57:28.000,1136,1034,2608,0x5EDC2A11ABA13462915E2308CA69A628,0 days 08:12:53,27.0
1047537,2016-12-10 01:56:30,2016-12-12 16:58:52.250,1054,11,2751,0x5D39556B4FBFD48E465EA60745B1E3CF,2 days 15:02:22.250000,247.0
1047809,2016-12-10 10:46:11,2016-12-10 17:46:57.000,1035,1144,3251,0x921FB608FE94E64A7A3F2ABB00B2E86B,0 days 07:00:46,23.0
1047821,2016-12-10 10:51:12,2016-12-10 17:47:41.000,1035,1144,1938,0x8E3D028535FA395852161FA4D9BBFF19,0 days 06:56:29,19.0
1047844,2016-12-10 10:58:46,2016-12-10 17:47:14.000,1035,1144,2041,0xBA58C3583DD34B51FE51C3E5E8FAF67E,0 days 06:48:28,19.0
1049564,2016-12-11 12:57:53,2016-12-12 11:23:46.000,1075,1055,2055,0xA371B071BC5C90E66354E3E801B13E70,0 days 22:25:53,83.0
1049597,2016-12-11 13:27:22,2016-12-11 20:25:14.000,1045,1121,2300,0xACA96BF568DB2AE0704ABCE1C31D58FF,0 days 06:57:52,19.0
1049621,2016-12-11 13:51:16,2016-12-12 07:28:09.000,1080,1028,3216,0xC33D7BC0EC631E25F906E1444D0A1A6C,0 days 17:36:53,63.0
1049761,2016-12-11 15:54:40,2016-12-12 01:42:13.000,1071,1098,3568,0x30A890E3810406053BA8C99409FB68B3,0 days 09:47:33,31.0
1054861,2016-12-15 23:15:11,2016-12-16 06:50:08.000,1071,1056,2143,0xC863826C92F68EC712A8538CC772F850,0 days 07:34:57,23.0
1056276,2016-12-16 23:58:18,2016-12-17 16:46:23.000,1138,1089,3237,0x418E6B77C575C88D3B18ECF0F21AB98D,0 days 16:48:05,59.0
1056652,2016-12-17 12:33:11,2016-12-17 22:31:45.000,1106,1022,3130,0x64E0305AA0AD562600B82F0ACF6CB636,0 days 09:58:34,31.0
1058842,2016-12-19 23:50:11,2016-12-20 07:06:47.000,1061,1034,2258,0xA0C23B1FA06600412603978CFCB66E50,0 days 07:16:36,23.0
1060197,2016-12-21 22:56:35,2016-12-22 06:22:00.000,1025,1051,2192,0x54492F562750BC8F0831825E474E61DF,0 days 07:25:25,23.0
1061258,2016-12-23 11:29:51,2016-12-23 18:12:29.000,1086,1055,2886,0xA2DCBFC8694CC62CD0FE31549493762A,0 days 06:42:38,19.0
1061757,2016-12-24 01:22:29,2016-12-24 14:45:27.000,1041,1056,3304,0x7D9EC67260A26C34E5906D6039644113,0 days 13:22:58,47.0
1062345,2016-12-25 23:00:38,2016-12-30 01:55:50.127,1042,11,3715,0x94D6A0EF1B5998A5947332C2E4491DBA,4 days 02:55:12.127000,387.0
1063359,2016-12-27 14:02:13,2016-12-27 20:49:08.000,1032,1068,3165,0xBDEA70E181713B4CAC140154830FCC24,0 days 06:46:55,19.0
1063361,2016-12-27 14:03:56,2016-12-27 20:49:21.000,1032,1068,2768,0x71259709027724FC8F249F2240E56ECE,0 days 06:45:25,19.0
1063746,2016-12-28 10:53:21,2016-12-28 19:22:51.000,1020,1025,3300,0xF39A18D04DA0E0DF39A24B1C233B57F6,0 days 08:29:30,27.0
1064689,2016-12-29 14:19:56,2016-12-30 07:21:01.000,1086,1081,2418,0xD13A3C9A37783EE601EA561F2D0E2298,0 days 17:01:05,63.0